# Ignore all Quarto source files, configs, and working folders
# ------------------------------------------------------------
*.qmd
/*.html.md
_quarto.yml
README.html
/.quarto
/README_files/
/_extensions/
/Syllabus/
/css/
docs/index_files/
docs/index.html/
/*.py

# Allow only these specific production items
!docs/
!index.html
!index_files
!README.md
!img/
/.quarto/
**/*.quarto_ipynb
